/* You can add global styles to this file, and also import other style files */
body {
    background-color: #87CEEB; /* Light sky blue */
    background-image: linear-gradient(to bottom,#87CEEB , #87CEEB);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  